      /* Default height for small devices */
      #logo-example {
          height: 400px;
      }

      /* Height for devices larger than 992px */
      @media (min-width: 992px) {
          #logo-example {
              background-image: url('../../../assets/images/logo-2.png');
          }
      }

    .nav-link {
        color:  #fe7709;
        cursor: default;
    }

    .nav-item>a:hover {
        color: white;
        background-color: #fe7709;
    }
