      /* Default height for small devices */
      #intro-example {
          background-image: url('../../assets/images/img-1.jpg');
          height: 60vh;

      }

      /* Height for devices larger than 992px */
      @media (min-width: 992px) {
          #intro-example {
              background-image: url('../../assets/images/img-1.jpg');
              height: 50vh;
          }

          #intro-text{
            font-size: 60px;
          }
      }

      section{
        height: 100vh;
    }
