      /* Default height for small devices */
      #intro-example {
        height: 100vh;
        background-image: url('../../assets/images/jumbo-2\ \(2\).jpg');
      }

      /* Height for devices larger than 992px */
      @media (min-width: 992px) {
        #intro-example {
          height: 90vh;
          background-image: url('../../assets/images/jumbo-1.jpg');
        }
      }

      section{
        height: 100vh;
    }
